:root {
  --heading-background-color: rgb(255, 249, 190);
  --secondary-background-color: lightblue;
  --content-background-color: rgb(255, 200, 228);
  --heading-text-color: rgb(109, 141, 109);
  --heading-font: "Moirai one";
  --padding: 0.8rem;
  --border: dotted darkgrey 1rem;
  --content-border-footer: dashed rgb(255, 200, 228) 5px;

  /* Rafting Colors. Link to colors.co https://coolors.co/b6b197-b49a67-1d2d44-307351  */
  --primary-color: #b6b197;
  --secondary-color: #B49A67;
  --accent-color1: #1D2D44;
  --accent-color2: #307351;



}

/* Misc pieces */
main {
  max-width: 840px;
}

/* Fonts */



body{
  background-color: rgb(255, 252, 223);
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  
}

p {
  padding: 10px;
}
/* ---------------------------------------------------------- */


/* First third */
nav {
  background-color: var(--content-background-color);
  padding: 10px;
}

nav a {
  color: black;
  display: block;
  padding: 20px;
}
/* ---------------------------------------------------------- */


/* Second third */
h1 {
  background-color: var(--heading-background-color);
  color: var(--heading-text-color);
  font-family: var(--heading-font);
  padding: var(--padding);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid darkslategrey;
  padding: 2px;
  box-shadow: 0 0 30px gray 1rem;
}
/* ---------------------------------------------------------- */


/* Third third */
aside{
  width: 20rem; 
  margin: var(--padding);
  border: var(--border);
  padding: 1rem;
  background-color: lightblue;
  color: rgb(0, 0, 0);
  text-align: center;
}

aside img{
  width: 200px;
  height: auto;
}

footer {
  margin-top: 35px;
  border-top: var(--content-border-footer);
  text-align: center;
}