/* Misc pieces */
main {
  max-width: 840px;
}

body{
  background-color: rgb(255, 252, 223);
}

p {
  padding: 10px;
}
/* ---------------------------------------------------------- */


/* First third */
nav {
  background-color: rgb(255, 200, 228);
  padding: 10px;
}

nav a {
  color: black;
  display: block;
  padding: 20px;
}
/* ---------------------------------------------------------- */


/* Second third */
h1 {
  color: rgb(109, 141, 109);
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid darkslategrey;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}
/* ---------------------------------------------------------- */


/* Third third */
aside{
  width: 20rem; 
  margin: 0.08rem;
  border: dotted darkgray 10px;
  padding: 1rem;
  background-color: lightblue;
  color: rgb(0, 0, 0);
  text-align: center;
}

aside img{
  width: 200px;
  height: auto;
}

footer {
  margin-top: 35px;
  border-top: dashed rgb(255, 200, 228) 5px;
  text-align: center;
}